div[class=customizer-custom-label] {
    position: relative;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;
    background: #9a9898;
    color: #fff;
    margin: 23px -15px 12px;
}
.customize-pane-child li:nth-child(2) div[class=customizer-custom-label]{
	margin-top: 0;
}

div[class=customizer-custom-label]:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 14px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8.5px 0 8.5px;
    border-color: #9a9898 transparent transparent transparent;
}